<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>User Info</h2>
<form th:action="@{/saveUser}" th:object="${user}" method="post">
    Name: <input type="text" th:field="*{firstName}"/>
    <br>
    Lastname: <input type="text" th:field="*{lastName}"/>
    <br>
    Email: <input type="email" th:field="*{email}"/>
    <br>
    <input type="submit" value="OK">
</form>
</body>
</html>